POSTGRES_DB=oficina_db_2
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Thata@95

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/oficina_db_2
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=Thata@95

JWT_SECRET=oficina-jwt-secret-key-32-bytes
JWT_EXPIRATION_SECONDS=3600
